[submodule "bundle/supertab"]
	path = bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "colour-sampler-pack"]
	path = colour-sampler-pack
	url = https://github.com/vim-scripts/Colour-Sampler-Pack.git
[submodule "bundle/command-t"]
	path = bundle/command-t
	url = https://github.com/wincent/Command-T.git
[submodule "bundle/colour-sampler-pack"]
	path = bundle/colour-sampler-pack
	url = https://github.com/vim-scripts/Colour-Sampler-Pack.git
[submodule "bundle/jshint"]
	path = bundle/jshint
	url = https://github.com/wookiehangover/jshint.vim.git
[submodule "bundle/tlib"]
	path = bundle/tlib
	url = https://github.com/vim-scripts/tlib.git
    ignore = dirty
[submodule "bundle/pig"]
	path = bundle/pig
	url = https://github.com/vim-scripts/pig.vim.git
[submodule "bundle/coffee-script"]
	path = bundle/coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "bundle/scala"]
	path = bundle/scala
	url = https://github.com/derekwyatt/vim-scala.git
[submodule "bundle/javascript"]
	path = bundle/javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "bundle/nodejs-complete"]
	path = bundle/nodejs-complete
	url = https://github.com/myhere/vim-nodejs-complete.git
[submodule "bundle/mw-utils"]
	path = bundle/mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "bundle/hex-highlight"]
	path = bundle/hex-highlight
	url = https://github.com/yurifury/hexHighlight.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/ultisnips"]
	path = bundle/ultisnips
	url = https://github.com/MarcWeber/ultisnips.git
